 <!--<header>
    <div class="navbar navbar-dark bg-warning shadow-sm">
        <div class="navbar-brand align-item-center d-flex">
            <i style="font-size: 40px;" class="fas fa-shipping-fast">&nbsp;
                
            </i>
            <strong style="font-size: 30px;">Flipkart</strong>
            <div class="form-group">
                <input type="text" class="form-control" [(ngModel)]="searchTerm" (keyup)="search($event)" placeholder="search products">
            </div>
            <span class="fas fa-search search-icon"></span>
            

        </div>
        <button routerLink="cart" class="btn btn-primary">
            <i style="font-size: 30px;" class="fas fa-cart-plus"></i>
            <div style="font-size: 10px;" class="badge bg-danger">{{totalItem}}</div>
        </button>
    </div>
</header> -->
<nav class="navbar navbar-expand-lg navbar-light bg-warning">
    <div class="container-fluid">
      <a class="navbar-brand"  style="font-size: 30px;font-weight: bold;" href="#">E-Shop</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" routerLink="Home" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="contactus" aria-current="page" href="#">Contact Us</a>
          </li>
          <div class="form-group">
            <input type="text" class="form-control" [(ngModel)]="searchTerm" (keyup)="search($event)" placeholder="search products">
        </div><pre>  </pre>
             <button class="btn btn-outline-success" type="submit">Search</button>

<pre>   </pre>
          <button routerLink="cart" class="btn btn-primary">
            <i style="font-size: 30px;" class="fas fa-cart-plus"></i>
            <div style="font-size: 10px;" class="badge bg-danger">{{totalItem}}</div>
        </button>
    
